.title{
    color: purple;
    text-align: center;
}

.Pass-2{
    background-color: white;
    border-radius: 5px;
    height: 850px;
    width: 35%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 60px;
}





  