.formBody{
    background-color: #EDE3FF;
    border-radius: 5px;
    height: 1700px;
    width: 60%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 60px;
}
.heading{
    text-align: center;
    color: purple;
    font-size: 35px;
}
.Sub-heading{
   color:purple;
}

.formInputs{
    box-shadow: inset 0px 0px 25px 0px #CBD0D4;
}

.btn-primary{
    background-color:blueviolet;
    font-size: 18px;
    display: inline-block;
    border-radius: 5px;
    color: white;
    margin: 40px;

}



